@{
    Layout = null;
}
@model IEnumerable<school.Model.DAO.M_Category>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>字典</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/ad/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/ad/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/ad/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/ad/css/animate.css" rel="stylesheet">
    <link href="/ad/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>状态 </h5>

                        <div class="ibox-tools">
                        </div>
                        <div style=" float:right; padding-right:10px">
                            <a href="/admin/category"><button type="button" class="btn btn-w-m btn-info"> 新增</button></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>类别</th>
                                    @*<th>子类</th>*@
                                    <th>排序</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td><a href="/admin/category/@item.Id">@item.Name </a></td>
                                        @*<td><a href="/admin/categoryList/@item.Id">子类 </a></td>*@
                                        <td>
                                            @*<label><input name="Category" type="radio" value="1" />体能训练-年龄段(精灵)</label>
                                            <label><input name="Category" type="radio" value="2" />体能训练-训练方法(平衡)</label>
                                            <label><input name="Category" type="radio" value="3" />体能训练-分类(有球，无球)</label>
                                            <br />
                                            <label><input name="Category" type="radio" value="4" />技能训练-分段(稳定性，方向)</label>
                                            <label><input name="Category" type="radio" value="5" />技能训练-训练方法(底线V底线..)</label>
                                            <label><input name="Category" type="radio" value="6" />技能训练-分类(关闭的训练方法..)</label>*@


                                            @{
                                                switch (item.Category)
                                                {
                                                    case "1":
                                                        <span>体能训练-年龄段(精灵)</span>;
                                                        break;
                                                    case "2":
                                                        <span>体能训练-训练方法(平衡)</span>;
                                                        break;
                                                    case "3":
                                                        <span>体能训练-分类(有球，无球)</span>;
                                                        break;
                                                    case "4":
                                                        <span>技能训练-分段(稳定性，方向)</span>;
                                                        break;
                                                    case "5":
                                                        <span>技能训练-训练方法(底线V底线..)</span>;
                                                        break;
                                                    case "6":
                                                        <span>技能训练-分类(关闭的训练方法..)</span>;
                                                        break;
                                                }
                                            }

                                        </td>
                                        <td class="center">@item.Sort</td>
                                        <td class="center">@item.CreateTime</td>
                                        <td class="center"><button onclick="query('@item.Id')">删除</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 全局js -->
    <script src="/ad/js/jquery.min.js?v=2.1.4"></script>
    <script src="/ad/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="/ad/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/ad/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/ad/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/ad/js/content.js?v=1.0.0"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData([
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row"]);

        }

    </script>
    <script>

        function query(id) {

            $.ajax({
                headers: { 'Content-Type': 'application/json;charset=utf8', 'MyHeader': "{'UserKey':'00c11211-0e0c-464b-8e37-33ac40747fb1'}" },
                url: "/wapi/wxsmall/DeleteCateory?id=" + id,
                async: true,
                type: "GET",

                // 成功后开启模态框
                success: function (res) {
                    if (res.IsSuccess) {
                        alert("操作成功");
                        window.location.href = "/admin/categoryParentList";
                    }
                    else {
                        alert(res.Message);
                    }
                },
                error: function () {
                    alert("请求失败");
                },
                dataType: "json"
            });
        }
    </script>

</body>
</html>
