@{
    Layout = null;
}
@model school.Model.DAO.M_Category
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>字典</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    @*  <link href="/ad/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="/ad/css/font-awesome.css?v=4.4.0" rel="stylesheet">
        <link href="/ad/css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="/ad/css/animate.css" rel="stylesheet">
        <link href="/ad/css/style.css?v=4.1.0" rel="stylesheet">*@

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">

    <link href="/ad/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/ad/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/ad/css/animate.css" rel="stylesheet">
    <link href="/ad/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/ad/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/ad/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>内容</h5>
                        <div class="ibox-tools">
                            <ul class="dropdown-menu dropdown-user"></ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label>名称</label>
                                        <input type="text" id="Name" class="form-control" value="@Model.Name" />
                                    </div>
                                    <div class="form-group">
                                        <label>类别</label><br />
                                        <label><input name="Category" type="radio" value="1" />体能训练-年龄段(精灵)</label>
                                        <label><input name="Category" type="radio" value="2" />体能训练-训练方法(平衡)</label>
                                        <label><input name="Category" type="radio" value="3" />体能训练-分类(有球，无球)</label>
                                        <br />
                                        <label><input name="Category" type="radio" value="4" />技能训练-分段(稳定性，方向)</label>
                                        <label><input name="Category" type="radio" value="5" />技能训练-训练方法(底线V底线..)</label>
                                        <label><input name="Category" type="radio" value="6" />技能训练-分类(关闭的训练方法..)</label>
                                    </div>
                                    @*<div class="form-group">
                                            <label>排序</label>
                                            <input type="text" id="Sort" class="form-control" value="@Model.Sort" />
                                        </div>*@
                                    @*<div class="form-group">
                                            <label>名称</label>
                                            <input type="text" id="Name" class="form-control" value="@Model." />
                                        </div>*@

                                    <div>
                                        <button type="button" id="btn">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</body>
<!-- 全局js -->
<script src="/ad/js/jquery.min.js?v=2.1.4"></script>
<script src="/ad/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="/ad/js/content.js?v=1.0.0"></script>
<script src="/layui/layui.js"></script>
<!-- SUMMERNOTE -->
<script src="/ad/js/plugins/summernote/summernote.min.js"></script>
<script src="/ad/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
    $("input[type=radio][name=Category][value=@Model.Category]").attr("checked", 'checked');
</script>

<script>

    $(function () {
        $("#btn").click(function () {
            var category = $('input[name="Category"]:checked').val();
            $.ajax({
                headers: { 'Content-Type': 'application/json;charset=utf8', 'MyHeader': "{'UserKey':'00c11211-0e0c-464b-8e37-33ac40747fb1'}" },
                url: "/wapi/wxSmall/SaveCategory",
                async: true,
                type: "POST",
                data: JSON.stringify({
                    "id": "@Model.Id",
                    "Name": $("#Name").val(),
                    //"Sort": $("#Sort").val(),
                    "Category": category
                }),
                // 成功后开启模态框
                success: function () {
                    alert("操作成功");
                    window.location.href = "/admin/CategoryParentList";
                },
                error: function () {
                    alert("请求失败");
                },
                dataType: "json"
            });
        });
    });
</script>
</html>
